layout {
  pane split_direction="vertical" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          command "curl"
          args "parrot.live"
          name "Jimmy the Parrot"
        }
        pane {
          command "curl"
          args "parrot.live"
          name "Sally the Parrot"
        }
      }
      pane split_direction="horizontal" {
        pane {
          command "curl"
          args "parrot.live"
          name "Polly the Parrot"
        }
        pane {
          command "curl"
          args "parrot.live"
          name "Carrot the Parrot"
        }
      }
    }
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          command "curl"
          args "parrot.live"
          name "Goobert the Parrot"
        }
        pane {
          command "curl"
          args "parrot.live"
          name "Jamantha the Parrot"
        }
      }
      pane {
        command "cava"
        name "Audio"
      }
    }
  }
}
